<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="./static/css/output.css" />
    <title>登录</title>
    <link rel="icon" href="./static/img/logo.png" />
</head>

<body>
    <div class="login">
        <div class="section">
            <h4 class="title">登录</h4>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                <div class="login-box">
                    <label for="email">邮箱</label>
                    <div class="login-input"><input type="email" id="email" name="email" required />
                        <span class="material-symbols-sharp">email</span>
                    </div>
                </div>
                <div class="login-box">
                    <label for="password">密码</label>
                    <div class="login-input">
                        <input type="password" id="password" name="password" required />
                        <span class="material-symbols-sharp" id="password-eye">visibility_off</span>
                    </div>
                </div>
                <div class="login-box">
                    <label for="captcha">验证码</label>
                    <div class="login-input">
                        <input type="text" id="captcha" name="captcha" required />
                        <span id="captcha-span">{{ captcha }}</span>
                    </div>
                </div>
                <div class="rpwd">
                    <input type="checkbox" id="remember" name="remember" />
                    <label for="remember">下次直接登录</label>
                </div>
                <button type="submit" class="login-btn">登录</button>
                <div class="btm">
                    <p>还未注册账号？<a href="{% url 'user:register' %}">注册</a></p>
                    <p>忘记了密码？<a href="{% url 'user:pwdReset' %}">密码重置</a></p>
                </div>
            </form>
        </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <script>
        $("#password-eye").click(function () {
            if ($("#password").attr("type") === "password") {
                $("#password").attr("type", "text");
                $("#password-eye").text("visibility");
            } else {
                $("#password").attr("type", "password");
                $("#password-eye").text("visibility_off");
            }
        });

        $("#captcha-span").click(function () {
            $(this).prev("input").val($(this).text());
        });
    </script>
</body>

</html>