@font-face {
    font-family: "CONSOLA";
    src: url("../fonts/CONSOLA.TTF");
    font-weight: normal;
    font-style: normal;
}

.clock {
    font-size: 40px;
    font-family: "Consolas", "CONSOLA", monospace;
    margin-top: 20px;
    color: #2982ff;
    text-shadow: 0 0 5px #000;
    -webkit-animation: color 10s infinite;
    animation: color 10s infinite;
    line-height: 50px;
}

@keyframes color {
    0% {
        color: #2982ff;
        text-shadow: 0px 0px 5px #000;
    }

    50% {
        color: #cc4343;
        text-shadow: 0px 0px 5px #ff0000;
    }
}

@-webkit-keyframes color {
    0% {
        color: #2982ff;
        text-shadow: 0px 0px 5px #000;
    }

    50% {
        color: #cc4343;
        text-shadow: 0px 0px 5px #ff0000;
    }
}

.blink {
    font-size: 40px;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}